.info {
    animation: info 5s infinite;
    border-bottom: 2px solid transparent;
    border-top: 2px solid tra;
}

@keyframes info {
    15% {
        color: white;
    }
    50% {
        background-color: #3bb7e8;
    }
    90% {
        color: white;
    }
}

.uploading {
    animation: uploading 5s infinite;
}

@keyframes uploading {
    30% {
        background-color: transparent;
    }
    50% {
        background-color: #8dcf69;
    }
    70% {
        background-color: transparent;
    }
}

.qr {
    display: none;
    position: fixed;
    top: 5.5%;
    right: 15.5%;
    width: 60px;
    height: 60px;
}

@media print {
    .noprint {
        display: none;
    }
    .qr {
        display: block;
    }
    .invoice-container {
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
    }
}

main>.card {
    border: none;
}

@keyframes notify {
    0% {
        -webkit-transform: scale(0.75, 0.75);
    }
    10% {
        -webkit-transform: scale(1, 1);
    }
    20% {
        -webkit-transform: scale(0.75, 0.75);
    }
    80% {
        -webkit-transform: scale(0.75, 0.75);
    }
    90% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(0.75, 0.75);
    }
}

@media screen and (max-width: 600px) {
    div.left-bar {
      display: none;
    }
  }