@import "colors.css";
@import "images.css";
@import "positions.css";
@import "animations.css";
@import "test.css";
@import "canvas-comp.css";
@import url("../thirdpart/fontawesome/css/all.css");
html {
    overflow: hidden;
    cursor: url("../cursors/Hand.cur"), default;
}

div {
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 70px;
    width: calc(96vw - 70px);
    height: 2.5vh;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 1.2vh;
    padding: 0 2vw;
}


/*	Test	*/

.bars:hover{
    border-left: 2px solid #3bb7e8;
    width: 66px;
}

#ab{
    background-color: black;
    line-height: 20px;
    color: white;
    padding: 18px;
    height: 20px;
    width: 285px;
    bottom: 56px;
    border-right: 4px solid #3bb7e8;
    font-size: 14px;
    text-align: left;
}
    #ab:hover
    {
       background-color: #8dcf69;
       border-color: #8dcf69;
       color: #2a2a2a;
    }

.search-bar{
    position: fixed;
    width: 350px;
    height: 56px;
    transition: 0.5s;
    z-index: 1;
}

#sb-div{
    float: left;
    width: 56px;
    height: 56px;
    background-color: #3bb7e8;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 56px;
    transition: 0.5s;
}

    #sb-div-qr{
        color: #2a2a2a;
        background-color: #8dcf69;
        float: left;
        width: 56px;
        height: 56px;
        font-size: 25px;
        text-align: center;
        line-height: 56px;
        transition: 0.5s;
    }

#sb-input {
    float: left;
    width: 225px;
    height: 16px;
    background-color: black;
    border: 0;
    border-right: 4px solid #3bb7e8;
    text-align: left;
    line-height: 16px;
    color: white;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
}

    #sb-input-qr {
        color: white;
        background-Color: #8dcf69;
        position: fixed;
        width: 225px;
        height: 16px;
        border: 0;
        border-right: 4px solid #8dcf69;
        text-align: left;
        line-height: 16px;
        padding: 20px;
        transition: 0.5s;
        z-index: 1;
    }

        #sb-input-qr::placeholder {
            color: #2a2a2a;
        }

    #form-qr
    {
        border: 1px solid #ccc;
        float: left;
        width: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        color: #5a5a5a;
    }

        #form-qr:hover
        {
            color: black;
            background-color: #ccc;
        }

.brcd>svg {
    display: block;
    margin: auto;
    height: 100px;
}

.lgn-btn {
    max-width: 100px;
    color: lightgray;
    width: 25%;
    height: 60%;
    background-color: rgb(26, 26, 26, 0.6);
    border: none;
    float: right;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.lgn-btn:hover {
    color: black;
    background-color: #3bb7e8;
}

.data-box {
    float: left;
    font-size: 20px;
    position: relative;
    color: #f0f0f0;
    width: 15%;
    height: 85%;
    margin: 1% 5%;
    border-radius: 1vh;
    transition: 0.45s;
}

.data-box:hover {
    color: #f0f0f0;
}

.data-box:hover> :before {
    transition: 0.45s;
    color: #f0f0f0;
}

.fas.fa-sun:hover {
    background-color: #ffffff;
    color: #1a1a1a;
}

.fas.fa-moon:hover {
    background-color: black;
    color: #5a5a5a;
}

#-title{
    color: #3bb7e8;
}

#-text{
    color: #8dcf69;
}

#gaz-title{
    color: #3bb7e8;
}

#gaz-text{
    color: #8dcf69;
}

#holding-title{
    color: #ed252d;
}

#holding-text{
    color: #ef4a50;
}

#doviz-title{
    color: #272727;
}

#doviz-text{
    color: #7d7d7d;
}

#otomotiv-title{
    color: #067eb9;
}

#otomotiv-text{
    color: #58a6c9;
}