.fleft {
    float: left;
}

.fright {
    float: right;
}

.tleft {
    text-align: left;
}

.tcenter {
    text-align: center;
}

.tright {
    text-align: right;
}

.fltop>a>div {
    width: 70px;
    padding: 20px 0;
    text-align: center;
    float: left;
}

.flbottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    overflow: hidden;
    text-align: center;
}

.flbottom>a>div {
    float: left;
    width: 100%;
}

.lgbarw {
    width: 70px;
}

.lgbarh {
    height: 70px;
}

.objcntr {
    margin: auto;
}


/* Left Bar */

.left-bar {
    width: 70px;
    height: 100%;
    background-color: #1a1a1a;
    max-width: 70px;
}

.left-bar>div>a>div:hover {
    background-color: #202020;
}

.lbbtns {
    font-size: 17px;
    padding: 19px 0;
}


/* Logo Bar */

.logo-bar {
    width: 100%;
    height: 70px;
    padding-bottom: 20px;
    background-size: 35px;
    background-position: center 15px;
}


/* Label Bar */

.lbl-bar {
    position: fixed;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-weight: 100;
}

.lblb-bg {
    font-size: 10vw;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 600;
    margin: 0;
    opacity: 0.08;
}

.lblb-ttl {
    font-size: 6vw;
    margin: 0;
    margin-top: -10vw;
}

.lblb-txt {
    font-size: 1.2vw;
    margin: 0;
}

.lblb-btn {
    margin-top: 2vh;
    width: 15vw;
    height: 4vh;
    border: 0;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 2vh;
}

.lblb-btn:hover {
    transition: 0.45s;
    color: #f0f0f0;
}


/* Forms */

.card-add {
    line-height: 40px;
    font-weight: 500;
    font-size: 12px;
}

.box-1 {
    width: 15%;
    overflow: auto;
}

.box-2 {
    width: 30%;
    overflow: auto;
}

.box-3 {
    width: 15%;
    overflow: auto;
}

.box-4 {
    width: 85%;
    overflow: auto;
}

.box-1>div,
.box-2>div,
.box-1>input,
.box-2>input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 6px;
}

.box-2>div>form>input {
    height: 100%;
    width: 10%;
    margin: 0 14px;
}

.box-3>input,
.box-4>input {
    float: left;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 6%;
    text-align: center;
}

.box-header {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
}

.details {
    width: 50%;
    min-height: 80px;
    font-size: 12px;
    font-weight: 100;
}

.details>input {
    float: left;
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.details-box1 {
    width: 35%;
}

.details-box2 {
    width: 65%;
}

.details-box1>input,
.details-box2>input {
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    padding: 0 6%;
}

.details-header {
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    padding: 0 6%;
    line-height: 20px;
    text-align: center;
}

.detail-box {
    width: calc( 100% - 1px);
    min-height: 120px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
}

.text-center {
    text-align: center;
}